body{
    background-color: beige;
}

.bear-info{
   
    background-color: grey;
    border: 2px solid black;
}
.bear-photo{
    display: block;
    height: 200px;
    width: 300px;
    margin: 0 auto;
}